    body {
        background-color: black;
        padding-left: 10%;
        padding-right: 10%;
        margin: 5%;
    }
    
    header>img {
        height: 100%;
        width: 100%;
    }
    
    a>img {
        padding-right: 3%;
        border-radius: 50%;
        height: 70px;
        width: 70px;
    }
    
    #intro {
        padding-top: 5%;
    }
    
    #intro>#textintro {
        font-size: 30px;
        text-align: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
    
    #intro>p {
        text-align: center;
        font-size: 20px;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    
    #informacoes {
        padding: 3%;
    }
    
    #informacoes>h1 {
        text-align: center;
        color: white;
        font-family: 'Merienda One', cursive;
    }
    
    #informacoes>p {
        text-align: center;
        color: white;
        font-size: 19px;
        font-family: 'Montserrat', sans-serif;
    }
    
    #projetos {
        padding: 3%;
    }
    
    #projetos>h3 {
        text-align: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
    
    #projetos>p {
        text-align: center;
        color: white;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    
    #redessociais {
        padding: 3%;
        text-align: center;
    }
    
    #redessociais>h3 {
        text-align: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
    
    #redessociais>p {
        text-align: center;
        font-size: 17px;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    
    footer {
        width: 100%;
        background-color: white;
    }
    
    footer>p {
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }